body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#0b132b;
color:white;
transition:.3s;
}

body.light{
background:#f4f6f8;
color:#111;
}

.container{display:flex;min-height:100vh;}

.sidebar{
width:220px;
background:#050a1c;
padding:25px;
display:flex;
flex-direction:column;
}

.sidebar button{
margin:8px 0;
padding:10px;
border:none;
background:#1c2541;
color:white;
border-radius:8px;
cursor:pointer;
}

.sidebar button:hover{
background:#39ff14;
color:black;
}

.main{
flex:1;
padding:35px;
}

.card{
background:#1c2541;
padding:25px;
border-radius:14px;
margin:12px;
}

body.light .card{
background:white;
box-shadow:0 0 10px #00000020;
}

.btn{
background:linear-gradient(45deg,#39ff14,#00ffa6);
border:none;
padding:10px 18px;
border-radius:8px;
font-weight:bold;
cursor:pointer;
margin-top:10px;
}

.toast{
position:fixed;
bottom:20px;
right:20px;
background:#39ff14;
color:black;
padding:14px;
border-radius:10px;
opacity:0;
transition:.4s;
}

.modal{
position:fixed;
inset:0;
display:none;
align-items:center;
justify-content:center;
background:#000000aa;
}

.modalBox{
background:#1c2541;
padding:30px;
border-radius:12px;
width:300px;
}

input{
width:100%;
padding:10px;
margin-top:10px;
border-radius:6px;
border:none;
}
