*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:system-ui;
}

body{
background:#0b1220;
color:white;
height:100vh;
}

.hidden{display:none;}

.centerScreen{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.loginCard{
background:#111827;
padding:40px;
border-radius:14px;
width:300px;
display:flex;
flex-direction:column;
gap:15px;
box-shadow:0 0 30px rgba(0,0,0,.4);
}

input{
padding:12px;
border:none;
border-radius:8px;
background:#1f2937;
color:white;
}

button{
padding:12px;
border:none;
border-radius:8px;
background:#39ff14;
cursor:pointer;
font-weight:bold;
transition:.2s;
}

button:hover{
transform:scale(1.05);
}

#app{
display:flex;
height:100vh;
}

/* SIDEBAR */
.sidebar{
width:220px;
background:#020617;
padding:25px;
display:flex;
flex-direction:column;
gap:12px;
}

.sidebar button{
background:#111827;
color:white;
}

.spacer{flex:1}

/* MAIN */
.main{
flex:1;
padding:40px;
overflow:auto;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:25px;
margin-top:30px;
}

.card{
background:linear-gradient(145deg,#111827,#1e293b);
padding:25px;
border-radius:14px;
box-shadow:0 0 20px rgba(0,0,0,.3);
}

.progressBar{
height:12px;
background:#020617;
border-radius:20px;
margin:15px 0;
overflow:hidden;
}

#progressFill{
height:100%;
width:0%;
background:linear-gradient(90deg,#39ff14,#00ffa6);
transition:.4s;
}
